/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-border-color: #d9d9d9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    display: block;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-logo {
    padding: 30px 50px 30px 0;
}

.header-logo img {
    height: 19px;
}

.nav {
    display: flex;
    gap: 68px;
}

.nav-link {
    padding-top: 16px;
    border-top: 3px solid transparent;
}

.nav-link--active {
    color: var(--main-color);
    border-top: 3px solid var(--main-color);
}

/****** Slogan ***********/
.headline {
    margin-bottom: 35px;
}

.headline-title {
    margin-bottom: 10px;
}

/****** Form Rechercher ***********/
.search {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.search-icon {
    background: var(--main-bg-color);
    padding: 15px 18px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-icon .fa-solid {
    font-size: 18px;
    color: black;
}

.search-input {
    width: 200px;
    border: 1px solid var(--main-bg-color);
    padding: 15px 24px;
}

.search-input::placeholder {
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.search-btn {
    color: #fff;
    background: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 13px 16px;
}

/****** Filtre ***********/
.filter {
    margin-bottom: 35px;
}

.list-filter {
    display: flex;
    gap: 15px;
    align-items: center;
}

.filter-item {
    font-weight: 700;
    font-size: 18px;
}

.filter-btn {
    padding: 14px 19px;
    border-radius: 25px;
    border: 2px solid var(--filter-border-color);
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.filter-btn .fa-solid {
    margin-right: 10px;
    font-size: 22px;
}

.filter-btn:hover {
    background: var(--filter-bg-color);
}

/****** info ***********/
.info {
    margin-bottom: 35px;
}

.info .fa-solid {
    border: 1px solid var(--filter-border-color);
    border-radius: 50px;
    padding: 7px 10px;
    margin-right: 10px;
    font-size: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.section-title {
    margin-bottom: 30px;
}

.afficher-plus {
    font-weight: 700;
    font-size: 18px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hebergements-cards img {
    height: 124px;
    min-width: 228px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    padding: 5px 15px;
}

.hebergements-cards .card-title,
.card-subtitle {
    margin-bottom: 8px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/
.activities {
    margin-bottom: 35px;
    padding: 30px;
}

.activities-title {
    margin-bottom: 30px;
}

.activities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.activities-cards .card {
    width: 297px;
}

.activities-cards img {
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activities-cards .card-title {
    padding: 20px;
}


/****** Footer ***********/
.footer {
    background: var(--main-bg-color);
    display: flex;
}

.footer-content {
    width: 33%;
    padding: 20px;
}

.footer-title {
    margin-bottom: 15px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}